body {
	margin: 0;
}
#nav-bar {
	background-color: rgba(255,255,255,.01);
	width: 100%;
	height: 20px;
	position: fixed;
}
#logo {
	height: 100px;
	width: 100px;
}
nav {
/*	text-align: left;*/
	height: 20px;
	width: 80%;
	margin: 0 5px;
	padding: 30px 0;
}
nav ul li {
	list-style-type: none;
	display: inline;
	color: white;
	font-size: 32px;
}
nav ul li a {
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	text-decoration: none;
	color: salmon;
}
.container {
	width: 100%;
	height: 500px;
/*	border: solid;*/
}
#main-header {
	background: url("images/zoofamily.jpg") no-repeat center center;
	background-size: 1440px 810px;
	width: 100%;
	height: 600px;
	text-align: right;
}
#main-header p {
	font-family: "Arial Black";
	font-size: 80px;
	color: white;
	margin-right: 80px;
	padding: 350px 0 0 0;
}
#main-header p span {
	background-color: rgba(0,0,0,.3);
	padding: 0 10px;
}
.col-md-8 {
	height: 500px;
	background-color: black;
}
.col-md-4 {
	height: 500px;
	text-align: center;
	background-color: white;
}
#first-date {
	text-align: center;
	padding: 25px 0 25px 0;
}
#first-date img {
	border-radius: 40%;
	height: 450px;
	width: 600px;
}
#young_text {
	width: 80%;
	text-align: left;
}
#wedding_img {
	background: url("images/weddingstroll.jpg") no-repeat center center;
	background-size: fill;
}
#wedding_text {
	width: 80%;
	text-align: left;
}
#junior_img {
	background: url("images/junior.jpg") no-repeat center center;
	background-size: fill;
}
#junior_text {
	width: 80%;
	text-align: left;
}
#future_text {
	width: 80%;
	text-align: left;
}
#future_text p span {
	background-color: rgb(0,0,0);
	color: white;
	padding: 0 2px;
}
#future_img {
	background: url("images/future.jpg") no-repeat center center;
	background-size: fill;
}
/*#photo-carousel, #photo-carousel-wedding, #photo-carousel-junior {
	border: solid 1px;
}*/
#photo-carousel img, #photo-carousel-wedding img, #photo-carousel-junior img {
	height: 330px;
	max-width: 440px;
}
.col-md-6 {
	text-align: center;
	height: 500px;
	border-right: dotted 1px black;
}
.col-md-6 img {
	width: auto;
	height: 300px;
	border-radius: 50%;
	vertical-align: -400px;
}
.col6-text {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	height: 300px;
	margin-top: 100px;
}
#bwmarried {
	background: url("images/wedding6.jpg") no-repeat center center;
	background-size: 903px 600px;
	width: 100%;
	height: 600px;
	text-align: right;
}
.carousel-inner {
	margin: 0 auto;
	max-width: 440px;
}
#first-date, #young_text, #photo-carousel, #wedding_text, #wedding_img, #junior_img, #junior_text, #photo-carousel-junior, #future, .col6-text-1, .col6-text-2, .col6-text-3, .col6-text-4, .col6-text-5, .col6-img-1, .col6-img-2, .col6-img-3, .col6-img-4, .col6-img-5, #bwmarried {
	visibility: hidden;
	opacity: 0.0;
}






